$flieder: #666CA3;
$blue: #13183F;
$gray: #83869A;
$pink: #F74780;
$rose: #FFA7C3;
$white: #FFFFFF;
$black: black;

$gradient-1: linear-gradient(to bottom, #FF6F48, #F02AA6);
$gradient-2: linear-gradient(to bottom, #4851FF, #F02AA6);